<!doctype html>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %} | {{config.site.title|escape}}</title>
    
    <meta name="robots" content="follow, all" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
    
    <base href="{{base_url}}" />
    
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>  
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="static/css/h5bp-base.css" /> 
    <link rel="stylesheet" href="static/css/default.css" /> 
</head>
<body>

<header>
    <a href="/"><img src="static/images/sc2-logo.gif" alt="StarCraft II" width="300"></a>
    <h1>Sit'n'Go Tournaments</h1>
</header>

<nav>
    <a href="/">Tournaments</a>
    <a href="about/">Rules</a>
    
    {% if session.user %}
    <a href="account/">Account</a>
    <div class="user-link"><a href="user/{{session.user|escape}}/" class="user">{{session.user|escape}}</a> (<a href="logout/">Log out</a>)</a>
    {% else %}
    <a href="register/">Create Account</a>
    <a href="login/">Log in</a>
    {% endif %}
</nav>


<!--<select>
    {% for realm in config.site.realms.itervalues %}
    <option value="{{realm.id|escape}}">{{realm.name}}</option>
    {% endfor %}
</select>-->

{% block content %}
<h1>Tournaments</h1>

<section id="tournament-signup">   
    <h2>Sign up!</h2>
    
    <h3>Leagues</h3>
    
    <div><img src="static/images/master.png" style="vertical-align: middle;"> <input type="checkbox" style="vertical-align: middle;"> Master</div>
    <div><img src="static/images/master.png" style="vertical-align: middle;"> <input type="checkbox" style="vertical-align: middle;"> Diamond</div>
    <div><img src="static/images/master.png" style="vertical-align: middle;"> <input type="checkbox" style="vertical-align: middle;"> Platinum</div>
    <div><img src="static/images/master.png" style="vertical-align: middle;"> <input type="checkbox" style="vertical-align: middle;"> Gold</div>
    <div><img src="static/images/master.png" style="vertical-align: middle;"> <input type="checkbox" style="vertical-align: middle;"> Silver</div>
    <div><img src="static/images/master.png" style="vertical-align: middle;"> <input type="checkbox" style="vertical-align: middle;"> Bronze</div>
    
    <h3>Formats</h3>
    <p><input type="checkbox" checked disabled> Single-elimination</p>
    
    <h3>Map pool</h3>
    <p><input type="checkbox" checked disabled> Major League Gaming (mlgmaps)</p>
    
    
    <h3>Waiting time</h3>
    <div>
    Your maximum wait time:
    </div>
    
    <div class="labeled-select">
        <select>
            <option>10 minutes</option>
            <option>30 minutes</option>
            <option selected>1 hour</option>
            <option>2 hours</option>
        </select>
    </div>
    
    <div>
        <input type="button" value="Sign up!">
    </div>
</section>

{% endblock %}

<footer>
    <p>&copy; 2011 SC2SnG.com</p>
    <p>SC2SnG.com is in no way affiliated with Blizzard Entertainment.</p>
</footer>

</body>
</html>