<!doctype html>
<html>
<head>
    <title>{{title|escape}} | {{config.site.title|escape}}</title>
    
    <meta name="robots" content="follow, all" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
    
    <base href="{{base_url}}" />
    
    <link rel="stylesheet" href="static/css/h5bp-base.css" /> 
    <link rel="stylesheet" href="static/css/default.css" /> 
</head>
<body>
<h1>StarCraft 2 SNG Tournaments</h1>

<nav>
    <a>Tournaments</a>
    <a>Create Account</a>
    <a>Sign up</a>
</nav>

<select>
    <option>North America</option>
    <option>Europe</option>
</select>


<section id="tournament-signup">   
    <h2><div class="masters-icon"></div>Master Tournament</h2> 
    
    <div>
    15 of 16 players ready.
    </div>

    <div>
    Your maximum wait time:
    </div>
    
    <div class="labeled-select">
        <select>
            <option>10 minutes</option>
            <option>30 minutes</option>
            <option>1 hour</option>
            <option>2 hours</option>
        </select>
    </div>
    
    <div>
        <input type="button" value="Sign up!">
    </div>
</section>

<footer>
    &copy; 2011 SC2SnG.com | SC2SnG.com is in no way affiliated with Blizzard Entertainment.
</footer>

</body>
</html>